#contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  bottom: 600px;
  padding-top: 150px;
  padding-bottom: 200px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  color: rgb(14, 34, 73);
  align-items: baseline;
}

#how-to {
  font-size: 30px;
  font-weight: 600;
}

#working-hours,
#address,
#phone-number {
  font-size: 20px;
  text-align: left;
}
