#contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  bottom: 37.5rem;
  padding-top: 9.375rem;
  padding-bottom: 12.5rem;
}

#contact-info {
  display: flex;
  flex-direction: column;
  color: rgb(14, 34, 73);
  align-items: baseline;
}

#how-to {
  font-size: 1.875rem;
  font-weight: 600;
}

#working-hours,
#address,
#phone-number {
  font-size: 1.25rem;
  text-align: left;
}
