#contact-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 37.5rem;
  padding-top: 9.375rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.google-map {
  width: 60rem;
  height: 40rem;
  border-radius: 1rem;
}

#contact-info {
  display: flex;
  flex-direction: column;
  color: rgb(14, 34, 73);
  align-items: baseline;
  padding: 0 1.25rem;
}

#how-to {
  font-size: 1.875rem;
  font-weight: 600;
}

#working-hours,
#address,
#phone-number {
  font-size: 1.25rem;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .google-map {
    padding-left: 10%;
    padding-right: 10%;
    height: 30rem;
  }
}

@media screen and (max-width: 450px) {
  .google-map {
    padding-left: 10%;
    padding-right: 10%;
    height: 30rem;
    width: 30rem;
  }
}
