#navigation-header {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: rgb(230, 238, 251);
  z-index: 99999999999999999;
}

#header {
  width: 90%;
  /* height: 5rem; */
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #e6eefb;
  z-index: 0;
}

#left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 12.5rem;
  flex: 1;
  cursor: pointer;
  gap: 0.938rem;
}
#left-section:hover {
  opacity: 0.7;
}
#accent-logo {
  background: linear-gradient(
    to right,
    rgb(224, 236, 255) 0,
    white 10%,
    rgb(224, 236, 255) 20%
  );
  background-position: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 2s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 10rem;
  }

  100% {
    background-position: 22.25rem;
  }
}

.dental-logo {
  font-size: 1.875rem;
  font-weight: 800;
  color: rgb(2, 119, 251);
  border-bottom: 1.25rem;
  margin: 0;
}

.dental-logo,
#accent-logo {
  background: linear-gradient(
    to right,
    rgb(2, 119, 251) 0,
    rgb(224, 236, 255) 5%,
    rgb(2, 119, 251) 20%
  );
  background-position: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 3s infinite linear;
  animation-fill-mode: forwards;
}

#logo-image {
  width: 2.813rem;
  mix-blend-mode: multiply;
}

#navigation-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

button {
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: inherit;
  transition: opacity 0.15s;
  cursor: pointer;
  pointer-events: all;
  border: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  text-wrap: nowrap;
}

.button-hyperlinks {
  text-decoration: none;
  color: inherit;
}

button:hover {
  opacity: 0.7;
  /* box-shadow:  0.063rem 0.125rem 0.625rem rgba(14, 34, 73, 0.144); */
  color: rgba(2, 118, 251, 0.326) !important;
}

#about-us-button {
  color: rgb(2, 119, 251);
}

#prices-button {
  color: rgb(145, 161, 187);
}

#services-button {
  color: rgb(145, 161, 187);
}

#contact-us-button {
  color: rgb(145, 161, 187);
}
