#main-section {
  display: flex;
  flex-direction: row; /* Ensures that the content flows horizontally */
  align-items: center; /* Vertically centers the items in the container */
  justify-content: center; /* Distributes space between and around content items */
  padding: 9.375rem; /* Top and Bottom Padding 9.375rem, Left and Right Padding 10rem */
}

#information-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the left */
  justify-content: flex-start; /* Aligns items to the top */
  flex-wrap: wrap;
  gap: 1.25rem; /* Gap between elements */
}

#banner-text,
#subheading-main,
#schedule-appointment-button {
  font-family: Manrope, Arial;
  row-gap: 1.25rem;
}

#banner-text {
  font-size: 6.25rem;
  color: rgb(14, 34, 73);
  font-weight: 800;
  line-height: 1.2; /* Adjusted line height for better readability */
}

#subheading-main {
  font-size: 1.563rem;
  color: rgb(145, 161, 187);
  padding-bottom: 2.5rem;
  margin-top: 0;
  justify-self: left;
  text-align: start;
  transition: opacity 0.15s;
  cursor: pointer;
}

#accent-word {
  color: rgb(2, 119, 251);
  font-weight: 600;
}

#accent-word:hover {
  opacity: 0.7; /* Hover effect for accent word */
}

#image-section {
  padding-right: 15%;
  display: flex; /* Ensures the section is using flexbox */
  align-items: center; /* Centers the image vertically */
  justify-content: center; /* Centers the image horizontally */
}

#image-blob {
  position: relative;
  overflow: hidden; /* Ensures no overflow of the blob shape */
  width: 100%; /* Full width to contain the SVG and image */
  height: auto; /* Height should adjust to content */
}

#blob-element {
  position: absolute;
  width: 100%;
  height: auto;
  animation: blob-animation 20s infinite linear;
}

#zoki-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centers the image horizontally */
  width: 90%; /* Scales image to 90% of its parent's width */
  z-index: 1;
}

@keyframes blob-animation {
  0%,
  100% {
    border-radius: 50%;
  }
  25% {
    border-radius: 60% 40% 40% 60%;
  }
  50% {
    border-radius: 30% 70% 70% 30%;
  }
  75% {
    border-radius: 50% 50% 30% 30%;
  }
}

@media screen and (max-width: 920px) {
  #information-section {
    justify-content: center;
    align-items: center;
  }

  #banner-text {
    font-size: 4.25rem;
  }
}
