#prices-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Manrope, Arial;

  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

#prices-section:active {
  pointer-events: none;
}

#headline-prices {
  font-size: 4.375rem;
  font-weight: 800;

  flex: 1;

  text-align: center;
  color: #0e2249;
  padding-bottom: 1.875rem;
}

.services-prices-list-left {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;

  border: none;

  border-bottom-left-radius: 8%;
  border-top-left-radius: 8%;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.471);
  color: rgb(14, 34, 73);
  padding: 1.25rem 3.75rem 1.25rem 6.25rem;
}

#services-prices-list {
  display: flex;
  flex-direction: row;
  flex: 1;

  border: none;
  border-radius: 8%;
  font-weight: 400;
  font-size: 1.25rem;
  box-shadow: 0.188rem 0.313rem 3.75rem rgba(145, 161, 187, 0.243);
}

.services-prices-list-right {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;

  border: none;

  border-bottom-right-radius: 8%;
  border-top-right-radius: 8%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.471);
  color: rgb(14, 34, 73);
  padding: 1.25rem 6.25rem 1.25rem 3.75rem;
}

.service-list {
  display: flex;
  flex-direction: column;

  list-style-type: disc;
  font-size: 1.125rem;
  line-height: 1.625rem;
  display: flex;
  flex-direction: column;
  align-items: justify;
  padding-inline-start: 1.25rem !important;
  flex-wrap: wrap;
}
