#reviews-section {
  padding-top: 3.125rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5rem;
}

.checked {
  color: orange;
}

#customer-reviews {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 3.125rem;
}

#headline-reviews {
  font-size: 4.375rem;
  font-weight: 800;

  flex: 1;

  text-align: center;
  align-self: center;
  color: rgb(14, 34, 73);
  height: 18.75rem;
  width: 31.25rem;
  text-wrap: wrap;
  margin-bottom: 4.375rem;
}

.review-card {
  border: none;
  border-radius: 5%;
  width: 37.5rem;
  height: 18.75rem;
  background-color: rgba(255, 255, 255, 0.471);
  color: rgb(14, 34, 73);
  padding: 3.125rem 2.5rem 3.125rem 2.5rem;
  box-shadow: 0.188rem 0.313rem 3.75rem rgba(145, 161, 187, 0.243);
  position: relative;
}

#review-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-left: inherit;
  padding-right: inherit;
  height: 3.125rem;
  align-items: center;
}

#quote-element {
  fill: rgb(230, 238, 251);
}

#review-text {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.25rem;
  color: rgb(14, 34, 73);
  margin-bottom: 2.5rem;
  padding-left: inherit;
  padding-right: inherit;
}

#review-profile {
  display: flex;
  flex-direction: row;
  width: 50%;
  row-gap: 0px;
  align-items: center;
  justify-content: space-around;
  height: 30%;
  position: absolute;
  bottom: 1.25rem;
}

#personal-info {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0;
  color: rgb(14, 34, 73);
  height: 6.25rem;
  justify-content: baseline;
  margin-bottom: 3.125rem;
}

#name-tag {
  font-size: 1.375rem;
  font-weight: 700;
  padding: 0;
}

#customer-tag {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

#user-profile {
  flex: 1;
  justify-content: center;
  display: flex;
  margin-bottom: 3.125rem;
}

#user-picture {
  width: 40%;
  border-radius: 50%;
}
